h3 {
    font-size: 15px;
}

button {
    padding: 4px 4px;
    background-color: #F002;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

input {
    font-size: 15px;
}

.tt {
	font-size: 20px;
	background-color: #ffff00;
	cursor: pointer;
}
.is-form-minus {
	background-color: #de4747;
	width: 25px;
}
.is-form {
	background-color: #3de364;
}