@media screen and (min-width: 300px){
  .regularly .regularly1 .regularly2 .regularly3{
    display: block;
  }
  .outbound-button {
    display: flex;
  }
  .tt {
    font-size: 4vh;
    background-color: #ffff00;
    cursor: pointer;
  }
}

@media screen and (min-width: 500px){
  .regularly {
    display: grid;
    grid-template-columns: auto auto;
  }
  .regularly1 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .regularly2 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .regularly3 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .regularly4 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .tt {
    font-size: 4vw;
    background-color: #ffff00;
    cursor: pointer;
  }
  .outbound-button {
    display: inherit;
  }
  .item1 .item3 .item5 {
    grid-column: 1;
  }
  .item2 .item4 .item6 {
    grid-column: 2;
  }

}

input {
  font-size: 3vh;
}



.minus {
  background-color: #de4747;
  height: 5vh;
  line-height: 5vh;  
  width: 5vh;  
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
}
.plus {
  background-color: #3de364;
  height: 5vh;
  line-height: 5vh;  
  width: 5vh;  
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
}

button:focus {
  background-color: yellow;
}



.title1 {
  background-color: #3edde6;
}
.DateTime {
  font-size: 2vw;
  font: bold;
}
